$base-color: #c6538c;
$color: rgba(black, 0.88);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$fontMain: 'Open Sans', sans-serif;

body{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}
